body {
  font-size: 12px;
  font-family: 'Open Sans', YuGothic, "Yu Gothic", "游ゴシック", "游ゴシック体", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  text-align: center;
  letter-spacing: 0.05em;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#wrapper {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3em;
  padding-bottom: 5em;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div {
  display: block;
}

header .gnavi {
  /*ヘッダー左のリスト*/
  float: left;
}

ol, ul {
  /*リストの点削除*/
  list-style: none;
}

header .gnavi li {
  /*ヘッダー左のリスト*/
  float: left;
  font-weight: 600;
  margin-right: 2.2em;
  font-size: 1.2em;
  line-height: 1em;
}

a:link, a:visited, a:active {
  /*ヘッダー左のリスト*/
  color: #000000;
  text-decoration: none;
}

header .sns {
  /*ヘッダー右のリスト*/
  float: right;
}

header .sns li {
  /*ヘッダー右のリスト*/
  font-size: 2em;
  line-height: 1em;
  float: right;
  margin-left: 1.4em;
}

.home header h1 {
  /*タイトルの編集*/
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  clear: both;
  padding-top: 1em;
  padding-bottom: 3em;
}

.home header h1 img {
  /*タイトルの編集*/
  position: absolute;
  left: 0px;
  z-index: 1;
  bottom: -3em;
}

h1{
  /*タイトルの編集*/
  margin-block-start: 0.67em;
  margin-block-end: 1.6em;
}

img {
  /*画像全体の配置*/
  vertical-align: bottom;
  height: auto;
  width: 100%;
}

#main{
  /*一番上の画像配置*/
  width: 63%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 7em;
  text-align: right;
  position: relative;
}


/* ↓contentsのCSS↓ここから*/
#contents{
  margin-right: 5em;
  margin-left: 5em;
}

#contents .list {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  clear: both;
  overflow: hidden;
}

element.style {
  height: 321px;
}

#contents .list.three li {
  float: left;
  width: 25%;
  margin-right: 8%;
  margin-bottom: 5em;
}

#contents .list li dt {
  position: relative;
  margin-bottom: 2em;
}

#contents .list li dt span {
  font-size: 1em;
  line-height: 1em;
  background-color: #FFF;
  position: absolute;
  left: -1px;
  top: -1px;
  padding: 0.5em;
  display: block;
}

#contents .list li dd:nth-child(2) {
  padding-bottom: 0.5em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000;
  display: inline-block;
  margin-bottom: 1em;
  font-size: 1.3em;
  font-style: italic;
  line-height: 1em;
  font-weight: 600;
}

#contents .list li dd:nth-child(3) {
  font-size: 1.4em;
  line-height: 1.4em;
  margin-bottom: 1em;
}

#contents .list li dd:last-child {
  font-size: 0.8em;
  line-height: 1.6em;
  text-align: justify;
}

#contents .archives a {
  font-size: 1.2em;
  line-height: 1em;
  background-color: #000;
  display: inline-block;
  padding: 0.5em;
  margin-right: auto;
  margin-left: auto;
  color: #FFF;
  margin-top: 3px;
  margin-bottom: 6em;
  border: 2px solid #000;
}
/*↑contentsのCSSここまで↑*/

/*footerここから*/
#footer {
  margin-right: 5em;
  margin-left: 5em;
  position: relative;
  clear: both;
  padding-top: 5em;
}

footer {
  display: block;
}

#footer dt {
  width: 25%;
  margin-right: auto;
  margin-bottom: 1em;
  margin-left: auto;
}

#footer dd:last-child {
  width: 4%;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
/*footerここまで*/